@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  height: 100vh;
  font-family: "Outfit", sans-serif;
}

.card-style {
  width: 22rem;
  border-radius: 1.75rem;
}

.card-img {
  object-fit: cover;
  border-radius: 1.75rem;
}

.card-padding {
  margin: 1.5rem 1.5rem 1rem 1.5rem;
  border-radius: 2rem;
}

.overlay {
  background-color: hsl(178, 100%, 50%, 0.3);
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.75rem;
  opacity: 0;
}

.avatar-img {
  width: 30px;
  height: 30px;
  border-image: 10px solid white;
  margin-right: 0.5rem;
}

p {
  font-size: 18px;
}

/* COLOR */

.cyan {
  color: hsl(178, 100%, 50%);
}

.dark-blue {
  background-color: hsl(216, 50%, 16%);
}

.white {
  color: hsl(0, 0%, 100%);
}

.dark-blue-bg {
  background-color: hsl(215, 32%, 27%);
}

.blue {
  color: hsl(215, 51%, 70%);
}

/* HOVER */
.title:hover,
.name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.card:hover .overlay{
  opacity: 1;
  cursor: pointer;
}
